/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
 @import url(http://fonts.googleapis.com/css?family=Signika);
 html{
 	height: 100%;
 }
 body{
 	background: #f7f7f7;
 	font-family: 'Signika', sans-serif;
 	font-weight: 400;
 	overflow-y: scroll;
 }
 body::-webkit-scrollbar {
 	width: 0.5em;
 }

 body::-webkit-scrollbar-track {
 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 }

 body::-webkit-scrollbar-thumb {
 	background-color: darkgrey;
 	outline: 1px solid slategrey;
 }
 h2{
 	font-family: 'Signika', sans-serif;
 }
 /*Navigation */

 .navbar.container{
 	background: #03ACDE;
 }
 header#navbar{
 	min-width: 100% !important;
 	margin-top: 0;
 	border:0;
 	margin-bottom: 50px;
 	border-radius: 0;
 }
 .navbar-default .navbar-brand{
 	color: #fff;
 	font-weight: 600;
 	font-size: 2em;
 }
 .navbar-default .navbar-brand:hover{
 	color: #fff;
 }
 .navbar-default .navbar-nav>li>a,
 .navbar-default .navbar-nav>li>a:hover{
 	color: #fff;
 }
 .navbar-default .navbar-nav>.active>a{
 	background: #fff;
 }
 .navbar>.container .navbar-brand{
 	margin-left: 15px;
 }

 /*About me in front page block starts*/
 .about-me{
 	margin: 40px 0;
 }
 .about-me .block-title{
 	text-align: center;
 }
 .about-me .col-md-8{
 	margin: 0 auto;
 	clear: both;
 	float: none;
 	text-align: center;
 }
 .about-me .views-field-body .col-md-8{
 	text-align: justify;
 }
 .col-xs-12 .col-md-8{
 	font-weight: bolder;
 	font-size: 1.5em;
 	padding: 15px 0;
 }
 .about-me .views-field-body .col-md-8{
 	font-size: 1.2em;
 	padding: 15px 0;
 	font-weight: normal;
 	color: slategray;
 }

 /*Front Page display set to none */
 #first-time{
 	display: none;
 }

 /*Front page my portfolio block */
 .col-lg-4 img{
 	width: 100%;
 	height: auto;
 	-webkit-transition: all 0.85s ease;
 	transition: all 0.85s ease;
 }
 .my-portfolio .col-lg-4 .views-field-title{
 	text-align: center;
 	padding: 5px 0 30px 0;
 	color: #03ACDE;
 	font-weight: bolder;
 }
 .my-portfolio{
 	margin: 40px 0;
 }
 .my-portfolio .block-title{
 	text-align: center;
 	padding-bottom: 30px;
 	font-size: 2.8em;
 }

 /*Footer Container */
 .footer{
 	background: #2F2F2F;
 	color: #fff;
 	padding-top: 10px;
 	line-height: 25px;
 	padding-left: 0;
 	padding-right: 0;
 }
 .footer .block-title{
 	display: block;
 	font-size: 1.5em;
 	margin:0;
 	padding-bottom: 10px;
 }
 .footer .col-md-4{
 	margin-top: 25px;
 }
 .footer p a{
 	text-decoration: none;
 	cursor: pointer;
 	color: #03ACDE;
 	font-weight: bold;
 }
 .footer p a:hover{
 	color: #fff;
 }
 .footer .col-xs-9{
 	float: none;
 	margin: 0 auto;
 	overflow: hidden;
 }

 /*My Interest */
 .my-interest {
 	margin: 20px 0;
 	overflow: hidden;
 }
 .my-interest .col-lg-3{
 	text-align: center;
 	padding: 10px;
 }
 .my-interest .col-lg-3 .views-field-title{
 	font-weight: bolder;
 	font-size: 1.3em;
 }
 .my-interest .col-lg-3 i{
 	color: #03ACDE;
 	font-size: 4em;
 }
 .my-interest .col-lg-3 p{
 	margin: 25px 0;
 }
 .my-interest .col-lg-3 p:last-child{
 	font-size: 1.1em;
 	font-weight: normal;
 	padding:  0 5px;
 }

 /*The Thinking */
 .the-thinking p {
 	text-align: justify;
 	line-height: 27px;
 	font-size: 1.1em; 
 }
 .the-skills,.the-thinking{
 	padding: 0 25px;
 }

 /*The Skills */
 .the-skills .progress{
 	margin-bottom: 15px;
 }
 .the-skills .progress-bar-theme{
 	background: #03ACDE;
 }

 /*Contact us */
 .contact-me{
 	margin: 0 auto;
 	float: none;
 	clear: both;
 	margin-top: 50px;	
 }
 .contact-me .block-title{
 	text-align: center;
 	font-weight: bold;
 }
 .contact-me p{
 	text-align: center;
 	border-top: 1px solid #ccc;
 	padding-top: 15px;
 }
 .col-xs-12 .col-md-6{
 	margin: 20px auto;
 	float: none;
 	clear: both;
 	padding-top: 20px;
 	padding-bottom: 20px;
 }
 .col-xs-12 .col-md-6 label,
 .col-xs-12 .col-md-6 .checkbox{
 	display: none;
 }	
 .col-xs-12 .col-md-6 button{
 	background: #03ACDE;
 	color: #fff;
 	border: 0;
 }

 /*Portfolio Node Design */
 .col-sm-12 .page-header{
 	text-align: center;
 	font-family: 'Signika', sans-serif;
 	margin-top: 35px;
 	padding-top: 15px;
 	padding-bottom: 20px;
 	margin: 40px 0 0px;
 }
 .portfolio{
 	float:none;
 	margin: 0 auto;
 	clear: both;
 }
 .col-lg-4{
 	text-align: center;
 	color: #555;
 	padding-bottom: 15px;
 }
 .portfolio img,.col-lg-4 img{
 	width: 100%;
 	height: auto;
 	padding: 10px 0;
 	margin: 5px 0;
 }
 .portfolio .user-picture{
 	display: none;
 }
 .portfolio .submitted,
 .portfolio .field-name-field-image,
 .portfolio .field-label{
 	display:none;
 }
 .portfolio .field-name-body,
 .portfolio .field-name-field-group-images{
 	padding-top: 20px;
 	margin-top: 20px;
 }

 /*Work Page Header */
 .my-work{
 	margin: 35px auto;
 	float: none;
 	clear: both;
 	text-align: center;
 }
 .my-work .block-title{
 	border-bottom: 1px solid #ccc;
 	padding-bottom: 15px;
 }
 .my-work p{
 	padding-top: 10px;
 }

 /*User Page*/
 .page-user .row{
 	height: 354px;
 }

 /*Blog Entry*/
 .my-blog{
 	float: none;
 	clear: both;
 	margin: 50px auto;
 	padding-top: 15px;
 	padding-bottom: 15px;
 }
 .my-blog img{
 	width: 100%;
 	height: auto;
 }
 .my-blog .views-field-picture,
 .my-blog .views-field-name{
 	float: left;
 	font-size: 1.15em;
 	padding-left: 5px;
 	margin-left: 16.66%;
 }
 .my-blog .views-field-name{
 	margin-left: 0;
 }
 .my-blog .views-field-name{
 	padding: 30px 0 0 5px;
 	font-weight:normal; 
 }
 .my-blog .views-field-name:before{
 	content: "Posted By"; 
 }
 .my-blog .views-field-created,
 .my-blog .views-field-title,
 .my-blog .views-field-field-image,
 .my-blog .views-field-body{
 	float: none;
 	clear: both;
 	margin-left: 16.66%;
 }
 .my-blog .views-field-created{
 	padding: 20px 0 20px 5px;
 	font-size: 1.15em;
 }
 .my-blog .views-field-title{
 	font-weight: bold;
 	font-size: 1.25em;
 	padding-bottom: 10px;
 	padding-left: 5px;
 	color: #03ACDE;
 }
 .my-blog .views-field-body{
 	line-height: 2;
 	padding-top: 20px;
 	font-size: 1em;
 	text-align: justify;
 	padding-left: 5px;
 }
 .page-blog .views-row-even{
 	background: #fff;
 }
 .page-blog .col-sm-12,
 .page-blog .col-xs-12{
 	padding-left: 0;
 	padding-right: 0;
 }
 .page-blog .container{
 	width: 100%;
 }

 /*Reume Page*/

 @media(min-width:768px){
 	.navbar-nav{
 		float: right;
 	}
 }
 @media(max-width:960px){
 	.page-blog .views-field-picture,
 	.page-blog .views-field-name,
 	.page-blog .views-field-created,
 	.page-blog .views-field-title,
 	.page-blog .views-field-field-image,
 	.page-blog .views-field-body{
 		margin-left: 5%;
 		padding-left: 0;
 		padding-right: 5%;
 	}
 	.page-blog .views-field-picture{
 		margin-left: 5%;
 	}
 	.page-blog .views-field-name{
 		margin-left: 0;
 	}
 }